<form class= "signup-form">
    <div>
        <label for="username-signup">username</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="text" id= "password-signup"/>
    </div>
    <div>
        <button id="signupBtn" type="submit">Sign Up</button>
    </div>
</form>

<a href="/login" class="need-sign">Log In</a>

<script src='/js/signup.js'></script>