{{> post-info post}}

{{#if loggedIn}}
<image class="image" {{!-- {{api reference}} --}}/>
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}